<div class="container">

    <!-- login -->
    <div *ngIf="!isLoggedIn" class="login-box">
        <h2>Enter Chat</h2>
        <input [(ngModel)]="username" placeholder="Enter username" class="input" />
        <button (click)="login()" class="btn">Join Chat</button>
    </div>

    <!-- chat -->
    <div *ngIf="isLoggedIn" class="chat-container">
        <div class="chat-header">
            <h3>Live Chat</h3>
            <span class="user-tag">{{ username }}</span>

            <!-- dark mode  -->
            <button class="dark-toggle" (click)="toggleDarkMode()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="22" height="22">
                    <path d="M21 12.79A9 9 0 0111.21 3 7 7 0 1019 14.79 9.05 9.05 0 0121 12.79z" />
                </svg>
            </button>
        </div>
        <div class="messages-area">
            <div *ngFor="let msg of messages" class="message-bubble" [class.own]="isOwnMessage(msg)">
                <div class="sender">{{ msg.user }}
                    <span class="time">{{ msg.timestamp | date:'shortTime' }}</span>
                </div>
                <div class="text">{{ msg.message }}</div>
            </div>
        </div>

        <div class="input-bar">
            <input [(ngModel)]="messageText" placeholder="Type a message..." (keyup.enter)="sendMessage()" />
            <button (click)="sendMessage()" class="btn-send">Send</button>
        </div>

    </div>

</div>